beautifulsoup4==4.12.3
pandas==2.0.3
torch==2.3.0+cu121
matplotlib==3.7.1
seaborn==0.13.1
numpy==1.25.2
requests==2.31.0
scipy==1.11.4
statsmodels==0.14.2
xgboost==2.0.3
tensorflow==2.15.0
scikit-learn==1.2.2
